<h1><%=@doctor.name%></h1>
<%@doctor.appointments.each do |app|%>
  <%=link_to app.appointment_datetime.strftime("%B %d, %Y at %H:%M"), appointment_path(app)%> with <%=link_to app.patient.name, patient_path(app.patient)%>
<%end%>
